* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      background-color: #f0f2f5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding-left: 200px;
    }

    

    .text-box h1 {
      color: #1877f2;
      font-size: 60px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .text-box p {
      font-size: 24px;
      color: #1c1e21;
    }

    .login-box {
      width: 380px;
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
      margin: auto;
    }

    .login-box input {
      width: 100%;
      padding: 14px;
      margin: 10px 0;
      border: 1px solid #dddfe2;
      border-radius: 6px;
      font-size: 16px;
    }

    .login-btn {
      background: #1877f2;
      color: white;
      font-size: 18px;
      font-weight: bold;
      border: none;
      border-radius: 6px;
      padding: 14px;
      width: 100%;
      cursor: pointer;
      margin-top: 10px;
    }

    .login-btn:hover {
      background: #166fe5;
    }

    .forgot {
      display: block;
      text-align: center;
      margin: 15px 0;
      color: #1877f2;
      font-size: 14px;
    }

    hr {
      margin: 20px 0;
      border: 0.5px solid #dddfe2;
    }

    .create-btn {
      background: #42b72a;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 6px;
      padding: 14px;
      width: 60%;
      display: block;
      margin: 0 auto;
      cursor: pointer;
    }

    .create-btn:hover {
      background: #36a420;
    }
    @media screen and (max-width: 900px){

      .container{
        display: block;
      }
      .text-box{

        margin: 0 0 40px 0;
      }
    }
   